
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.blob { 
  
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M780%2C696Q726%2C892%2C530.5%2C839Q335%2C786%2C245.5%2C643Q156%2C500%2C231%2C332Q306%2C164%2C521%2C128Q736%2C92%2C785%2C296Q834%2C500%2C780%2C696Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%23f7e345%22 d=%22M780%2C696Q726%2C892%2C530.5%2C839Q335%2C786%2C245.5%2C643Q156%2C500%2C231%2C332Q306%2C164%2C521%2C128Q736%2C92%2C785%2C296Q834%2C500%2C780%2C696Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}

.swiper-slide img {
  display: block;
  width: 100%;
}
