@tailwind base;
@tailwind components;
@tailwind utilities;


.home-container {
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-position: top center;
  /* min-height: 100vh; */
  /* background-repeat: no-repeat; */
  overflow: hidden;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}